#set( $updateList = {} )
#foreach( $entry in $ctx.args.updateLoginInput.keySet() )
  #set( $discard = $updateList.put($entry, "'$ctx.args.updateLoginInput[$entry]'") )
#end
#set( $update = $updateList.toString().replace("{","").replace("}","") )
{
  "version": "2018-05-29",
  "statements":   ["UPDATE login SET $update WHERE farmer_id=$ctx.args.updateLoginInput.farmer_id", "SELECT * FROM login WHERE farmer_id=$ctx.args.updateLoginInput.farmer_id"]
}