#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createFarmer_salesboxInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createFarmer_salesboxInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO farmer_salesbox $colStr VALUES $valStr", "SELECT * FROM farmer_salesbox WHERE salesbox_id=$ctx.args.createFarmer_salesboxInput.salesbox_id"]
}