.form_card,
.form_new_product {
  //   width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: $space-s;
  margin-top: $space-s;
  text-align: left;
  border-radius: $radius-primary;
  background-color: clr(button-primary);
}

.form_card label {
  display: block;
  font-size: $font-20;
  text-align: left;
  margin: 0 0 0.5vh 1.5vh;
}

.form_new_product label {
  display: block;
  font-family: $font-body;
  font-size: $font-24;
  font-weight: $font-weight-medium;
  text-align: center;
  margin: 0 0 2.5vh 0;
}

.form_card input,
textarea {
  width: 4rem;
  display: block;
  //width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  margin-right: $space-xs;
  //border: 0;
  border-radius: 5px;
  font-size: $font-16;
}

.field_units input,
textarea,
.field_price input,
textarea {
  width: 6rem;
  display: block;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  margin-right: $space-xs;
  border-radius: 5px;
  font-size: $font-16;
}

.form_new_product {
  height: 88%;
  background-color: clr(background-gray);
  display: flex;
  flex-direction: column;
}

.dropdown_units {
  background: clr(primary);
  // box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: $radius-primary;
  padding: 0.9rem 1.1rem;

  color: #f6f5f5;
  font-family: $font-heading;
  font-style: normal;
  font-weight: bold;
}

.new_product_name,
.field_expiration_date input {
  width: 11rem;
  display: block;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  margin-right: $space-xs;
  border-radius: 5px;
  font-size: $font-16;
}

// .field_units,
// .field_price {
//   overflow: hidden;
//   white-space: nowrap;
// }

// input,
// select {
//   display: inline-block;
// }
