.form-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: $space-s;
  margin-top: $space-s;
  text-align: left;
  border-radius: $radius-primary;

  &__product-name {
    width: 11rem;
    display: block;
    padding: $space-xs 0.8rem $space-xs 0.8rem;
    margin: $space-s 0;
    border-radius: 5px;
    font-size: $font-16;
    text-transform: capitalize;
  }

  &__dropdown {
    background: clr(primary);
    border: none;
    border-radius: $radius-primary;
    padding: 0.9rem 1.1rem;

    color: clr(text-inverse);
    font-family: $font-heading;
    font-style: normal;
    font-weight: bold;
  }
}

.form-product label {
  display: block;
  font-family: $font-body;
  font-size: $font-24;
  font-weight: $font-weight-medium;
  text-align: center;
  margin: 0 0 2.5vh 0;
}

.field_units input,
textarea,
.field_price input,
textarea {
  width: 6rem;
  display: block;
  padding: $space-xs 0.8rem $space-xs 0.8rem;
  margin: 0.9vw 0;
  margin-right: $space-xs;
  border-radius: 5px;
  font-size: $font-16;
}
