.overview {
  //   height: ;
  display: grid;
  grid-gap: $space-s;
  grid-template-columns: repeat(3, [col] 8rem);
  align-items: center;
  justify-content: center;
  padding: $space-xs;
}

.product_card {
  grid-column: col / span 2;
  display: grid;
  grid-gap: $space-s;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* justify-items: center; */
  /* width: 13rem; */
  /* height: fit-content; */
  padding: $space-xs;
  text-align: left;
  border-radius: $radius-primary;
  background-color: clr(button-primary);
}

.product_name {
  grid-column: 1;
}

.stock_info {
  width: 6.5rem;
  // height: 2rem;
  grid-column: 2;
  padding: $space-xs;
  text-align: center;
  border-radius: $radius-primary;
  border: 1px solid $color-black;
  background-color: clr(stock-full);
}

.units_left {
  grid-column: col 3 / span;
  width: 4rem;
  // height: 2rem;
  // margin: auto;
  padding: 1.1rem;
  text-align: center;
  border-radius: $radius-primary;
  background-color: $color-white;
}
