.products-overview {
  &__header {
    display: flex;
    padding-top: $space-m;
    justify-content: space-evenly;
    align-items: center;
  }
  &__title {
    margin: 0;
    flex-grow: 1;
  }
}