.settings {
  height: calc(100vh-100px);
  background-color: clr(background-dark-transparent);
  color: clr(text-inverse);

  &__logo {
    padding-top: $space-m;
    height: 3.5rem;
    width: 3.5rem;
  }

  &__notification-nav {
    background-color: clr(accent);
    border-bottom: 3px solid clr(text);
  }

  &__notification-content {
    padding-top: $space-m;
    background-color: clr(text-inverse);
    color: clr(text);
    height: 46.5vh;
  }
}
