#map { /* The id of the container you passed to createMap */
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 92%;

}

html,
body,
#root { /* The ancestors of the map element */
  height: 100%;
}
