@import "../variables";

.button_secondary {
  background: $color-red;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: $radius-primary;
  padding: 0.9rem 1.1rem;

  color: #f6f5f5;
  cursor: pointer;
  font-family: $font-body;
  font-style: normal;
  font-weight: bold;
  font-size: $font-16;
  line-height: $space-s;
  letter-spacing: 0.05rem;
  //text-transform: uppercase;
}

.button {
  background: clr(primary);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: $radius-primary;
  padding: $space-s;
  margin: $space-xs;

  color: #f6f5f5;
  cursor: pointer;
  font-family: $font-body;
  font-style: normal;
  font-weight: bold;
  font-size: $font-18;
  line-height: $space-s;
  letter-spacing: 0.05rem;

  &__logout {
    padding: $space-xs;
    font-size: $font-14;
  }

  &__notification-button {
    width: 20%;
    min-width: 150px;
  }

  &__notification-type {
    width: 10%;
    font-size: $font-16;
    min-width: 100px;
    min-height: 80px;
  }

  &__notification-expert {
    width: 15vw;
    font-size: $font-12;
    min-width: 90px;
    min-height: 40px;
    padding: 0px 5px;
  }

  &__bg-black {
    background-color: clr(text);
    color: clr(text-inverse);
  }

  &__bg-white {
    background-color: clr(text-inverse);
    color: clr(text);
  }

  &__removebutton {
    padding: 0px;
    border-radius: 50px;
  }

  &__notification-add {
    width: 20%;
    background-color: clr(text);
    font-size: $font-16;
    color: clr(text-inverse);
    min-width: 300px;
  }
}

.button:hover {
  transform: scale(1.1);
}
