@import "../variables";

.button_secondary {
  background: $color-red;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: $radius-primary;
  padding: 0.9rem 1.1rem;

  color: #f6f5f5;
  cursor: pointer;
  font-family: $font-body;
  font-style: normal;
  font-weight: bold;
  font-size: $font-16;
  line-height: $space-s;
  letter-spacing: 0.05rem;
  //text-transform: uppercase;
}

.button_primary {
  background: clr(primary);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: $radius-primary;
  padding: $space-s;
  margin: $space-xs;

  color: #f6f5f5;
  cursor: pointer;
  font-family: $font-body;
  font-style: normal;
  font-weight: bold;
  font-size: $font-18;
  line-height: $space-s;
  letter-spacing: 0.05rem;
  //text-transform: uppercase;
}

.button_primary:hover {
  transform: scale(1.1);
}
